include LICENSE
include README.md
include pyproject.toml
recursive-include src *.py
global-exclude ._*
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .venv
global-exclude venv
global-exclude *.egg-info
global-exclude dist
global-exclude build
global-exclude .mypy_cache
global-exclude .pytest_cache
global-exclude .ruff_cache
global-exclude .benchmarks
global-exclude archive
global-exclude backups
global-exclude logs
global-exclude htmlcov
global-exclude coverage.xml
global-exclude .coverage
